@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* inicio do header*/

header {
    background: #8BC34A;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem 1rem 2rem;
}
.cjr {
  background-color: #D9D9D9;
  padding: 4px 32px 4px 32px;
  border-radius: 16px;
}

.entradas {
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  
}

/* inicio do body */

body, html {
    margin: 0;
    padding: 0;

}
  
    /* Estilo básico para o corpo da página */
    body {
    font-family: Inter, sans-serif;
    background-color: #111E3E;


}

main {
  display: flex;
  flex-direction: inherit;
  align-items: center;
  justify-content: center;
}

.background {
  position: absolute;
  top: 75px;
  bottom: 0px;
  border-left: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9;
  border-color: #D9D9D9;
  
  /* padding-bottom: ; */
  /* height: 100%; */
  /* height: 100%;
  min-height: 100vh; */
  
}
.container {
  position: relative;
  justify-content: center;
  display: grid;
  width: 646px;
  top: 0px;
  margin: 8px 8px 0px 8px;
  border: 0px 1px 0px 1px;
  /* background-color: #222E50; */
  padding: 1rem 1rem 30% 1rem;
  border-radius: 32px 32px 0px 0px;
  
}

hr.solid {
  border-top: 0px solid #D9D9D9;
  margin-bottom: 1rem;
  width: auto;
}

.return {
  position: relative;
  margin: 5px 0 0 5px;
  transform: scale(120%);
  justify-self: left;
}

.publi {
  margin-top: 1rem;
  justify-self: center;
  background-color: #222E50;
  color:#fff;
  padding: 20px 16px 16px 16px;
  border-radius: 32px;
  
}

.user-info {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  color: #71767B;
  display: flex;
  align-items: center;
  vertical-align: center;
  gap: 5px;
  .profile {
    max-width: 48px;
    max-height: 48px;
    border-radius: 24px 24px 24px 24px;
  }
  .name {
    color: #fff;
    margin-left: 6px;
  }
  .divisor {
    margin: 0px;
  }
  .data {
    margin: 0px;
  }
}

/* 
.main-publi p{
  margin-left: 50px;
  padding: 0;
} */

.conteudo {
  margin-left: 50px;
}

.posts {
  gap: 1rem;
  width: 92%;
  justify-self: center;
  /* background-color: #222E50; */
  color:#fff;
  /* padding: 20px 16px 16px 16px; */
  border-radius: 32px;
  
}
/* 
.lower-container {
  position: absolute;
  height: 5rem;
  vertical-align: bottom;
  align-content: center;
  background-color: #19192D;
  justify-content: center;
  display: grid;
  width: 646px;
  margin: 0px 8px 0px 8px;
  border-top: 2px solid #44445C;
  bottom: 0;
  padding: 1rem 1rem 1rem 1rem;
} */

.comment-button {
  margin-left: 50px;
}
/* .container-inferior {
  padding: 1rem;
  background-color: #222E50;

} */
