@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* inicio do header*/

header {
    background: #8BC34A;
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 90px;
    padding: 0rem 3rem 0rem 3rem
}
.cjr {
  background-color: #D9D9D9;
  padding: 8px 40px 8px 40px;
  border-radius: 16px;
}

.entradas {
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: normal;
  
}

/* inicio do body */

body, html {
    margin: 0;
    padding: 0;

}
  
    /* Estilo básico para o corpo da página */
    body {
    font-family: Inter, sans-serif;
    background-color: #111E3E;


}

main {
  display: flex;
  flex-direction: inherit;
  align-items: center;
  justify-content: center;
  padding: 5rem 6.6rem 3rem 0rem;
}
  .container-imput {
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
  }

  .container-imput label {
    opacity: 0.7;
  }

  .container-entradas {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .container-entradas div {
    height: fit-content;
   
  }

  .container-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #111E3E;
    font-weight: 700;
    margin-top: 2rem;
    gap: 1rem;
  }

  /* Estilo palavra LOGIN e SENHA */
  .container input::placeholder {
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #222E50;
    opacity: 0.7;
  }
  /* Estilo dos campos de entrada Login */
  .container input[type="text"] {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    
    width: 320px; /* ja foi */
    height: 22px;
    padding: 14px; /* ja foi */
    left: 570px; /* ja foi */
    top: 312px;
    z-index: 20;
    background-color: #D9D9D9;
    border: 0px;
    border-radius: 15px;
    cursor: text;
  }
      


  
  /* Estilo dos campos de entrada SENHA */
  .container input[type="password"] {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    
    width: 320px;
    height: 22px;
    left: 570px;
    
    padding: 14px; 
    z-index: 20;
    background-color: #D9D9D9;
    border: 0px;
    border-radius: 15px;
    cursor: text;
  }

  .login-container {
    align-items: center;
    background-color: #71767B;
    display: flex;
   
    border-radius: 15px;

  } 

  .password-container {
    align-items: center;
    background-color: #71767B;
    display: flex;
    
    border-radius: 15px;
  }



  /* Estilo do botão de entrar */
  .container button[type="submit"]{
    z-index: 1;
    width: 260px;
    height: 50px;
    left: 620px;
    top: 500px;
    padding: 20px; 
    
    background-color: #D9D9D9;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color:#222E50;
    border-radius: 15px;
    cursor: pointer;
    align-self: center;
  }

  .logo-big {
    display: flex;
    width: 778px;
    height: 451px;
    background-size: contain;
  }
  /* Estilo do contêiner do formulário de login */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 547px;
    height: 723px;
    background-color: #222E50;
    border-radius: 10px;
  }

  .container form {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

  /* Estilo do botão de mostrar */
  .container button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 88px;
    height: 20px;
    padding: 20px;
    top: 300px;
    left: 40px;
    right: 48px;
    color: #fff;
    border-radius: 4px;
    
  }
  .logo-big {
    vertical-align: middle;
    width: auto;
    height: 380px;
  }

  .profile {
    height: 30%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .container-genero {
    position: relative;
  }

  .container-genero img {
    position: absolute;
    right: 1rem;
    top: 50%;
    translate: 0 -50%;
    z-index: 1000;
    width: 30px;
    height: 30px;
    cursor: pointer;
    
  }

  #Gênero{
    
    width: 100% ;
    height: fit-content;
    left: 570px;
    top: 312px;
    padding: 15.5px; 
    z-index: 20;
    background-color: #D9D9D9;
    
    border-radius: 15px;
    cursor: pointer;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    
    align-self: right;
    appearance: none;
    color: rgba(34, 46, 80, 0.7);
  }
  select::-ms-expand {
    display: none;
  }

  .titulo {
    position: relative;
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    align-self: right;
    color: white;
    margin-right: auto;
  }

