<!DOCTYPE html>
<html>
<head>
    <title>Feed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/feed.css">
    <link rel="stylesheet" href="../static/popup.css">
</head>

<body>
    <header>
        <img class="cjr" src="../static/img/logo-small.png" alt="Logo">
        <div class="entradas">
            {% if current_user.is_authenticated %}
                <div class="profile-info">
                    <a style="text-decoration:none;color:#ffffff;" href="{{ url_for('perfil_usuario') }}">{{ current_user.username }}</a>
                    <img class="profile-pic" src="../static/img/user-prof.png" alt="Profile">
                    <a href="{{ url_for('logout') }}">
                        <img src="../static/img/log-out.png" alt="Sair">
                    </a>
                </div>
            {% else %}
                <a style="text-decoration:none;color:#222e50;" href="cadastro">Criar Conta</a>
                <a style="text-decoration:none;color:#ffffff;padding: 15px 22px 14px 21px;background-color:#222E50;border-radius: 16px;margin:1rem;" href="login">Entrar</a>
            {% endif %}
      </div>
    </header>
    <main>
        <div id="current-user" data-username="{{ current_user.username }}" style="display: none;"></div>
        <div class="background">
            <div class="container">
                <!-- {% if current_user.is_authenticated %} -->
                    <div class="upper-bit">
                        <div class="comentar">
                            <button class="comment-button" id="post-button">
                                Criar publicação
                            </button>
                        </div>
                    </div>
                <!-- {% else %}
                {% endif %} -->
                <div class="posts">
                    {% for post in posts %}
                    <article class="publi">
                        <!-- Exibir informações do post, como autor, data e conteúdo -->
                        <div class="user-info">
                            <img class="profile" src="../static/img/user-prof.png" alt="Profile">
                            <p class="name">{{ post.user_id }}</p>
                            <p class="divisor">·</p>
                            <p class="data">{{ post.created_at.strftime('%d de %b') }}</p>
                        </div>
                        <p class="conteudo">{{ post.content }}</p>
                        <div class="lower">
                            <a class="abrir-post" href="{{ url_for('post_aberto', post_id=post.post_id) }}">
                                <img src="../static/img/comment-baloon.png" alt="comentar">
                            </a>
                            
                            {% if current_user.is_authenticated and current_user.username == post.user_id %}
                                
                                <button class="edit-button" onclick="editPost({{ post.post_id }})">
                                    <img src="../static/img/edit-button.png" alt="Editar">
                                </button>
                                <button class="delete-button" onclick="deletePost({{ post.post_id }})">
                                    <img src="../static/img/trash-button.png" alt="Excluir">
                                </button>
                                
                            {% endif %}
                            
                        </div>
                    </article>
                    {% endfor %}
                </div>
            </div> 
        </div>
    </main>

    <div id="popup-overlay">
      <div id="popup">
          <form id="postForm">
              <div class="container-popup">
                  <div class="mod-button">
                      <button class="bold" onclick="bold(event)"><img src="../static/img/bold.png" alt="bold" class="bold-image"></button>
                      <button class="italic" onclick="italic(event)"><img src="../static/img/italic.png" alt="italic" class="italic-image"></button>
                      <button class="header" onclick="header(event)"><img src="../static/img/header.png" alt="header" class="header-image"></button>
                      <button onclick="link(event)" class="link"><img src="../static/img/link.png" alt="link" class="link-image"></button>
                      <button onclick="image(event)" class="image"><img src="../static/img/image.png" alt="image" class="image-image"></button>
                      <button onclick="help(event)" class="help"><img src="../static/img/ajuda.png" alt="help" class="help-image"></button>
                  </div>
                  <div class="line"></div>
                  <div class="text-input">    
                      <textarea id="post-content"></textarea>
                  </div>
              </div>

              <div class="button-group">
              <button id="cancel-button">Cancelar</button>
              <button id="submit-button">Publicar</button>
              </div>
          </form>
      </div>
  </div>
  <script src="../static/popup.js"></script>
</body>
</html>