<!DOCTYPE html>
<!DOCTYPE html>
<html>

<head>
    <title>Tela de Perfil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/perfil_usu.css">
</head>

<body>
    <header>
        <img class="cjr" src="../static/img/logo-small.png" alt="Logo">
        <div class="entradas">
            {% if current_user.is_authenticated %}
                <div class="profile-info">
                    <a style="text-decoration:none;color:#ffffff;" href="perfil_usu">{{ current_user.username }}</a>
                    <img class="profile-pic" src="../static/img/user-prof.png" alt="Profile">
                    <a href="{{ url_for('logout') }}">
                        <img src="../static/img/log-out.png" alt="Sair">
                    </a>
                </div>
            {% else %}
                <a style="text-decoration:none;color:#222e50;" href="cadastro">Criar Conta</a>
                <a style="text-decoration:none;color:#ffffff;padding: 15px 22px 14px 21px;background-color:#222E50;border-radius: 16px;margin:1rem;" href="login">Entrar</a>
            {% endif %}
        </div>
    </header>
    <main>

        <div class="container">

            <div class="container-superior">
                <div class="retangulo"></div>

                <div class="imagens">
                    <button type="editar">Editar Perfil</button>
                    <img class="profile" src="../static/img/user-prof.png" alt="Profile">
                    <h2 class="username">{{ current_user.username }}</h1>
                    <img class="cargo" src="../static/img/predio.png" alt="cargo">
                    <span class="image-name">{{ current_user.cargo }}</span>
                    <img class="contato" src="../static/img/carta.png" alt="contato">
                    <span class="image-name">{{ current_user.email }}</span>
                </div>
                <div class="textos1">
                    <p>Publicações</p>
                </div>
            </div>

            <div class="container-inferior">
                <div class="publi1">
                    <div class="user-info">
                        <img class="profile" src="../static/img/user-prof.png" alt="Profile">
                        <p class="name">{{ current_user.username }}</p>
                        <p class="divisor">·</p>
                        <p class="data">17 de mar</p>
                    </div>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                        classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a
                        Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin
                    </p>
                </div>

            </div>

            <div class="publi2">
                <div class="user-info">
                    <img class="profile" src="../static/img/user-prof.png" alt="Profile">
                    <p class="name">{{ current_user.username }}</p>
                    <p class="divisor">·</p>
                    <p class="data">17 de mar</p>
                </div>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                    classical Latin literature from 45 BC, making it over 2000 years old.</p>
                <img class="sangue" src="../static/img/Doe-sangue.png" alt="sangue">
            </div>
        </div>

    </main>
</body>

</html>