<!DOCTYPE html>
<html>
<head>
    <title>Post Aberto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/post_aberto.css">
    <link rel="stylesheet" href="../static/popup.css">
</head>

<body>
    <header>
        <img class="cjr" src="../static/img/logo-small.png" alt="Logo">
        <div class="entradas">
          {% if current_user.is_authenticated %}
            <div class="profile-info">
              <a style="text-decoration:none;color:#ffffff;" href="{{ url_for('perfil_usuario') }}">{{ current_user.username }}</a>
              <img class="profile-pic" src="../static/img/user-prof.png" alt="Profile">
              <a href="{{ url_for('logout') }}">
                <img src="../static/img/log-out.png" alt="Sair">
              </a>
            </div>
          {% else %}
            <a style="text-decoration:none;color:#222e50;" href="cadastro">Criar Conta</a>
            <a style="text-decoration:none;color:#ffffff;padding: 15px 22px 14px 21px;background-color:#222E50;border-radius: 16px;margin:1rem;" href="login">Entrar</a>
          {% endif %}
        </div>
    </header>
    <main>      
      <div class="fundo">
        <div class="background">
          <div class="container"> 
            <div class="return">
              <a href="{{ url_for('feed') }}">
                <img src="../static/img/arrow-left.png" alt="Retorna">
              </a>
            </div>
            <div class = "main-publi">
              <div class="user-info">
                <img class="profile" src="../static/img/user-prof.png" alt="Profile">
                <p class="name">Joazin gamer</p>
                <p class="divisor">·</p>
                <p class="data">17 de mar</p>
              </div>
              
              <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin</p>
              <hr class="solid">
            </div>
            
            <div class = "comments">
              <article class = "com1">
                <div class="user-info">
                  <img class="profile" src="../static/img/user-prof.png" alt="Profile">
                  <p class="name">Beltrana</p>
                  <p class="divisor">·</p>
                  <p class="data">17 de mar</p>
                </div>  
                <p class="comentario">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin</p>
              </article>
              <hr class="solid">
              <article class = "com2">
                <div class="user-info">
                  <img class="profile" src="../static/img/user-prof.png" alt="Profile">
                  <p class="name">Fulana</p>
                  <p class="divisor">·</p>
                  <p class="data">17 de mar</p>
                </div>
                <p class="comentario">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin</p>
              </article>
              <hr class="solid">
            </div>
            
          </div> 
          <div class="lower-container">
            <button class="comment-button" id="post-button">
              Comentar
            </button>
          </div>
        </div>
        
      </div>
    </main>
    <div id="popup-overlay">
      <div id="popup">
          <form>
              <div class="container-popup">
                  <div class="mod-button">
                      <button class="bold" onclick="bold(event)"><img src="../static/img/bold.png" alt="bold" class="bold-image"></button>
                      <button class="italic" onclick="italic(event) "><img src="../static/img/italic.png" alt="italic" class="italic-image"></button>
                      <button class="header" onclick="header(event)"><img src="../static/img/header.png" alt="header" class="header-image"></button>
                      <button onclick="link(event)" class="link"><img src="../static/img/link.png" alt="link" class="link-image"></button>
                      <button onclick="image(event)" class="image"><img src="../static/img/image.png" alt="image" class="image-image"></button>
                      <button onclick="help(event)" class="help"><img src="../static/img/ajuda.png" alt="help" class="help-image"></button>
                  </div>
                  <div class="line"></div>
                  <div class="text-input">    
                      <textarea id="post-content"></textarea>
                  </div>
              </div>

              <div class="button-group">
              <button id="cancel-button">Cancelar</button>
              <button id="submit-button">Publicar</button>
              </div>
          </form>
      </div>
  </div>
  <script src="../static/popup.js"></script>
</body>
</html>
